modules = ["nodejs-20", "python-3.10", "web"]
run = "bash start.sh"

[nix]
channel = "stable-24_05"

[env]
PATH = "/root/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"
